<div class="element  clearfix col1-3 about ">
	<div class="movable-content">
    	<div class="images"> <img src="assets/about01.jpg" alt="" />
      		<section class="hidden-infos">
        		<div class="overlay"></div>
        		<div class="icons profile"></div>
      		</section>
      		<div class="title">
        		<div class="title-wrap">
          			<h3>John McDougal</h3>
        		</div>
      		</div>
      		<div class="subtitle">
        		<div class="subtitle-wrap">
          			<p>co-founder. CEO.</p>
        		</div>
      		</div>
    	</div>
  	</div>
</div>
<div class="element  clearfix col1-3 about">
  	<div class="images"> <img src="assets/about02.jpg" alt="" />
    	<section class="hidden-infos"> <a href="mailto:info@domain.com"></a>
      		<div class="overlay"></div>
      		<div class="icons email"></div>
    	</section>
    	<div class="title">
      		<div class="title-wrap">
        		<h3>Rachel Black</h3>
      		</div>
    	</div>
    	<div class="subtitle">
      		<div class="subtitle-wrap">
        		<p>co-founder. designer.</p>
      		</div>
    	</div>
  	</div>
</div>
<div class="element  clearfix col1-3 about">
  	<div class="movable-content">
    	<div class="images"> <img src="assets/about03.jpg" alt="" />
      		<section class="hidden-infos">
        		<div class="overlay"></div>
        		<div class="icons profile"></div>
      		</section>
      		<div class="title">
        		<div class="title-wrap">
          			<h3>Tim Smith</h3>
        		</div>
      		</div>
      		<div class="subtitle">
        		<div class="subtitle-wrap">
          			<p>developer.</p>
        		</div>
      		</div>
    	</div>
  	</div>
</div>
<div class="element clearfix col1-3 border about">
  	<h2>Clients</h2>
  	<p>Microsoft<br />
    	Apple<br />
    	BMW Group USA<br />
    	DELL Computer<br />
    	Envato Pty Ltd<br />
    	Coca-Cola Beverages<br />
    	Samsung<br />
  	</p>
</div>