<div class="element  clearfix col2-3 home margin-bottom">
	<div class="flexslider">
    	<ul class="slides">
      		<li>
        		<div class="images">
          			<img src="assets/slide01.jpg" alt="" />
          			<div class="caption">
            			<p>1 <span>of</span> 3</p>
          			</div>
        		</div>
      		</li>
      		<li>
        		<div class="images">
          			<img src="assets/slide02.jpg" alt="" />
          			<div class="caption">
            			<p>2 <span>of</span> 3</p>
          			</div>
        		</div>
      		</li>
			<li>
        		<div class="images">
          			<img src="assets/slide03a.jpg" alt="" />
          			<div class="caption">
            			<p>3 <span>of</span> 3</p>
          			</div>
        		</div>
      		</li>
    	</ul>
  	</div>
</div>
<div class="element clearfix col1-3 border home">
	<h2>Welcome</h2>
  	<p>Hi, we’re Colourstory; where you can create and share abstract representations of your life with colour. </p>
</div>
<div class="element clearfix col1-3 home">
	<div class="flexslider">
	<ul class="slides">
		<li>
			<div class="images"> 
				<a href="">
					<div class="overlay2"></div>
					<img src="assets/pic05.jpg" alt="" />
			    	<div class="caption">
			        	<p>Download <span>now!</span></br>
						on <span>iOS</span> &amp; <span>Android</span></p>
			      	</div>
				</a>
		  	</div>
		</li>
	</ul>
	</div>
</div>