<div class="element clearfix col1-1 border portfolio menu element2">
  	<h2>The Colourstory Ethos</h2>
  	<p class="">
		<%= image_tag('ethos.png', :class => 'ethos') %>
		<p class="inPlace">
		Fun.<br/>
		Easy to use.<br/>
		Beautiful.<br/>
		Thought provoking.<br/>
		</p>
	</p>
	<h2>Colourstory Technology</h2>
  	<p class="">
		<%= image_tag('ethos.png', :class => 'ethos') %>
		<p class="inPlace">
		iOS &amp; Android.<br/>
		Reveal your stories colour.<br/>
		Share your stories.<br/>
		Print as mementoes.<br/>
		</p>
	</p>
</div>