<div class="element  clearfix col1-3 about ">
  <div class="movable-content">
    <div class="images"> <img src="assets/about01.jpg" alt="" />
      <section class="hidden-infos">
        <div class="overlay"></div>
        <div class="icons profile"></div>
      </section>
      <div class="title">
        <div class="title-wrap">
          <h3>Arthur Buxton</h3>
        </div>
      </div>
      <div class="subtitle">
        <div class="subtitle-wrap">
          <p>Artist. co-founder.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix complete-border centered hidden">
    <p class="no-h2">Arthur Buxton is a British artist and printmaker known for his colourful pie charts.</p>
    <ul class="social clearfix">
      <li class="facebook"><a href="#" target="_blank">Facebook</a></li>
      <li class="twitter"><a href="#" target="_blank">Twitter</a></li>
    </ul>
  </div>
</div>
<div class="element  clearfix col1-3 about ">
  <div class="movable-content">
    <div class="images"> <img src="assets/about02.jpg" alt="" />
      <section class="hidden-infos">
        <div class="overlay"></div>
        <div class="icons profile"></div>
      </section>
      <div class="title">
        <div class="title-wrap">
          <h3>Seth Jackson</h3>
        </div>
      </div>
      <div class="subtitle">
        <div class="subtitle-wrap">
          <p>co-founder.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix complete-border centered hidden">
    <p class="no-h2">Seth has been running start-up businesses since 1999. He has also sat on the board of a £100m european company, delivering global marketing &amp; expansion strategies &amp; working on the creation &amp; exploitation of over 15 mobile applications.</p>
    <ul class="social clearfix">
      <li class="facebook"><a href="#" target="_blank">Facebook</a></li>
      <li class="twitter"><a href="#" target="_blank">Twitter</a></li>
    </ul>
  </div>
</div>
<div class="element  clearfix col1-3 about ">
  <div class="movable-content">
    <div class="images"> <img src="assets/about03.jpg" alt="" />
      <section class="hidden-infos">
        <div class="overlay"></div>
        <div class="icons profile"></div>
      </section>
      <div class="title">
        <div class="title-wrap">
          <h3>Charlotte Smith</h3>
        </div>
      </div>
      <div class="subtitle">
        <div class="subtitle-wrap">
          <p>Marketer and researcher.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix complete-border centered hidden">
    <p class="no-h2">A University of Bristol Modern Foreign Languages student, Charlotte is the marketing and research intern and joined the Colourstory team in March 2014.</p>
    <ul class="social clearfix">
      <li class="facebook"><a href="#" target="_blank">Facebook</a></li>
      <li class="twitter"><a href="#" target="_blank">Twitter</a></li>
    </ul>
  </div>
</div>