<div class="element clearfix col1-3 border blog auto">
  	<h2>Our Blog</h2>
  	<p><a href="post.html">We Appreciate Any Kind of Feedback <span class="arrow">→</span></a><br />
    	<span class="small">by John McDougal</span>
	</p>
  	<p><a href="post.html">Post with a Quote <span class="arrow">→</span></a><br />
    	<span class="small">by John Doe</span>
	</p>
  	<p><a href="post.html">We Boost Your Sales <span class="arrow">→</span></a><br />
    	<span class="small">by Rachel Black</span>
	</p>
  	<p><a href="post.html">Post with a Really Awesome Slideshow <span class="arrow">→</span></a><br />
    	<span class="small">by Admin</span>
	</p>
  	<p><a href="post.html">Ok, One Last Post <span class="arrow">→</span></a><br />
    	<span class="small">by Rachel Black</span>
	</p>
</div>
<div class="element clearfix col1-3 complete-border blog">
  	<div class="icons tags"></div>
  	<h2>Tags</h2>
  	<p>Anything &middot; jQuery &middot; Slideshows &middot; Quotes &middot; Cool Stuff &middot; Any Tag &middot; HTML5 &middot; Templates</p>
</div>
<div class="element clearfix col1-3 border blog auto">
  	<h2>Categories</h2>
  	<p>Feel free to browse through our Archives:</p>
  	<ul class="unordered-list">
    	<li>Webdesign</li>
    	<li>Illustration</li>
    	<li>Videos</li>
  	</ul>
</div>