<div class="element  clearfix col2-3 contact">
  	<div id="map"></div>
</div>
<div class="element  clearfix col1-3 double complete-border contact">
  	<h2>Drop us a Line</h2>
  	<div id="contact">
    	<form method="post" action="contact.php" name="contactform" id="contactform" autocomplete="off">
      		<fieldset>
      			<div class="alignleft padding-right">
        			<label for="name" accesskey="U"><span class="required">Name</span></label>
        			<input name="name" type="text" id="name" size="30" title="Name *" />
			        <label for="email" accesskey="E"><span class="required">Email</span></label>
			        <input name="email" type="text" id="email" size="30" title="Email *" />
      			</div>
      			<label for="comments" accesskey="C"><span class="required">Comments</span></label>
      			<textarea name="comments" cols="40" rows="3" id="comments" title="Comment *"></textarea>
      			<span class="break"></span>
      			<p class="hide">We'll get back to you asap.<br />
        			* Required fields
				</p>
      			<span id="message"></span>
      			<input type="submit" class="submit" id="submit" value="» Submit" />
      		</fieldset>
    	</form>
  	</div>
</div>