<div class="element clearfix col2-3 home deep videoOer">
	<div class="images half video">
		<iframe src="//player.vimeo.com/video/97825721?title=0&amp;byline=0&amp;portrait=0" 
		width="640" height="349" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		
		<!--<iframe width="640" height="349" src="https://www.kickstarter.com/projects/78652923/colourstory-your-life-in-colour/widget/video.html" frameborder="0" scrolling="no"> </iframe>-->
  	</div>
</div>
<div class="element clearfix col1-3 border home deep">
	<h2>Welcome</h2>
  	<p>Welcome to Colourstory, the brainchild of British artist Arthur Buxton. Colourstory is a free platform that lets you create and share beautiful representations of your life with colour using any set of images. Check out our Kickstarter campaign. </p>
</div>
<div class="element col1-3 home">
	<div class="images">
		<%= image_tag('homeLeft.jpg') %>
	</div>
</div>
<div class="element clearfix col1-3 home">
	<div class="flexslider">
	<ul class="slides">
		<li>
			<div class="images"> 
				<a href="https://www.kickstarter.com/projects/78652923/colourstory-your-life-in-colour?ref=nav_search" target="_blank">
					<div class="overlay2"></div>
					<img src="assets/pic05a.png" alt="" />
			    	<div class="caption">
			        	<p>Kickstart <span>us!</span>
			      	</div>
				</a>
		  	</div>
		</li>
	</ul>
	</div>
</div>
<div class="element clearfix col1-3 home deep">
	<div class="images">
		<%= image_tag('homeRight.jpg') %>
	</div>
</div>