<div class="element clearfix col1-3 border portfolio menu">
  	<h2>Featured Works</h2>
  	<p>Feel free to browse the whole portfolio at any time:</p>
  	<p class="small"><a href="#filter=.webdesign,+.menu">Webdesign <span class="arrow">→</span></a><br />
    	<a href="#filter=.print,+.menu">Print <span class="arrow">→</span></a><br />
    	<a href="#filter=.illustration,+.menu">Illustration <span class="arrow">→</span></a><br />
    	<a href="#filter=.video,+.menu">Video <span class="arrow">→</span></a><br />
    	<a href="#filter=.all,+.menu">View all <span class="arrow">→</span></a>
	</p>
</div>
<div class="element  clearfix col1-3 home portfolio all">
	<div class="images"> <img src="assets/pic05.jpg" alt="" />
    	<section class="hidden-infos"> <a href="http://themeforest.net/user/ppandp/portfolio" target="_blank" data-title="Project Title Here"></a>
      		<div class="overlay"></div>
      		<div class="icons link"></div>
    	</section>
    	<div class="title">
      		<div class="title-wrap">
        		<h3>Download it now!</h3>
      		</div>
    	</div>
    	<div class="subtitle">
      		<div class="subtitle-wrap">
        		<p>on iOS and Android.</p>
      		</div>
    	</div>
  	</div>
</div>
<div class="element  clearfix col1-3 double illustration portfolio all">
	<div class="images"> <img src="assets/pic08.jpg" alt="" />
    	<section class="hidden-infos"> <a href="work.html" data-title="Project Title Here"></a>
      		<div class="overlay"></div>
    	</section>
    	<div class="title">
      		<div class="title-wrap">
        		<h3>Long Way</h3>
      		</div>
    	</div>
    	<div class="subtitle">
      		<div class="subtitle-wrap">
        		<p>illustration.</p>
      		</div>
    	</div>
  	</div>
</div>
<div class="element  clearfix col2-3 half print portfolio all">
  	<div class="images"> <img src="assets/pic07.jpg" alt="" />
    	<section class="hidden-infos"> <a href="assets/pic07.jpg" data-title="Project Title Here" data-fancybox-group="group1" class="popup"></a>
      		<div class="overlay"></div>
      		<div class="icons zoom"></div>
    	</section>
    	<div class="title">
      		<div class="title-wrap">
        		<h3>Musician</h3>
      		</div>
    	</div>
    	<div class="subtitle">
      		<div class="subtitle-wrap">
        		<p>print.</p>
      		</div>
    	</div>
  	</div>
</div>
<div class="element  clearfix col1-3 portfolio webdesign print all">
  	<div class="images"> <img src="assets/pic10.jpg" alt="" />
    	<section class="hidden-infos"> <a href="work.html" data-title="Project Title Here"></a>
      		<div class="overlay"></div>
    	</section>
    	<div class="title">
      		<div class="title-wrap">
        		<h3>Red Train</h3>
      		</div>
    	</div>
    	<div class="subtitle">
      		<div class="subtitle-wrap">
        		<p>webdesign. print.</p>
      		</div>
    	</div>
  	</div>
</div>