<div class="element clearfix col1-3 border services deep">
	<h2>Welcome</h2>
  	<p>Welcome to Colourstory, the brainchild of British artist Arthur Buxton. Colourstory is a free platform that lets you create and share beautiful representations of your life with colour using any set of images. Check out our Kickstarter campaign. </p>
</div>
<div class="element clearfix col2-3 services">
	<%= image_tag('aboutProjectRight.png', :class => "down") %>
</div>