<div class="element clearfix col1-3 double border services">
  	<h2>What we Offer</h2>
  	<h3>Option A</h3>
  	<p>Is my passion sapien massa, a imperdiet diam. Aliquam erat volutpat. </p>
  	<ol>
    	<li>Webdesign</li>
    	<li>Print</li>
    	<li>Illustration</li>
  	</ol>
  	<h3>Option B</h3>
  	<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
  	<p>Phasellus leo ante, posuere in fringilla vitae, pretium at dui. Fusce et neque quis odio gravida auctor vel non mauris. Vivamus gravida aliquet 
	eros. Integer commodo tristique. </p>
  	<p class="small bottom"><a href="#filter=.contact">Drop us a line.</a></p>
</div>
<div class="element  clearfix col2-3 half services">
  	<div class="images"> <img src="assets/slide03.jpg" alt="" />
    	<section class="hidden-infos"> 
			<a href="http://player.vimeo.com/video/17081554?badge=0&amp;title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" class="video-popup" title=""></a>
      		<div class="overlay"></div>
      		<div class="icons video"></div>
    	</section>
    	<div class="title">
      		<div class="title-wrap">
        		<h3>Watch the video</h3>
      		</div>
    	</div>
    	<div class="subtitle">
      		<div class="subtitle-wrap">
        		<p>on vimeo.</p>
      		</div>
    	</div>
  	</div>
</div>
<div class="element  clearfix col1-3 services">
  	<div class="images"> <img src="assets/pic06.jpg" alt="" />
    	<section class="hidden-infos"> <a href="#" data-title="Project Title Here"></a>
      		<div class="overlay"></div>
      		<div class="icons detail"></div>
    	</section>
    	<div class="title">
      		<div class="title-wrap">
        		<h3>Download Package</h3>
      		</div>
    	</div>
    	<div class="subtitle">
      		<div class="subtitle-wrap">
        		<p>in pdf format.</p>
      		</div>
    	</div>
  	</div>
</div>
<div class="element clearfix col1-3 border services">
  	<div class="icons quote"></div>
  	<p class="no-h2">“ This could be a blockquote. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo tristique odio, quis fringilla. ” </p>
  	<p class="small bottom">John Doe, Company Ltd</p>
</div>