<div class="element clearfix col1-3 double border services">
  	<h2>What we Offer</h2>
  	<h3>Create and share beautiful abstract representations of your life with colour.</h3>
	<p>The Colourstory web app automatically builds compelling colour timelines using colour extracted from your photo albums to share and buy as printed artworks.</p>
  	<p class="small bottom"><a href="#filter=.contact">Drop us a line.</a></p>
</div>
<div class="element  clearfix col1-3 services">
  	<div class="images"> 
		<img src="assets/pic12.jpg" alt="" />
  	</div>
</div>
<div class="element  clearfix col1-3 services">
  	<div class="images"> 
		<img src="assets/pic13.jpg" alt="" />
  	</div>
</div>
<div class="element  clearfix col1-3 services">
  	<div class="images"> 
		<img src="assets/pic14.jpg" alt="" />
  	</div>
</div>
<div class="element clearfix col1-3 border services">
  	<div class="icons quote"></div>
  	<p class="no-h2">“ This could be a blockquote. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo tristique odio, quis fringilla. ” </p>
  	<p class="small bottom">John Doe, Company Ltd</p>
</div>