<div class="element clearfix col1-3 border services deep2">
	<h2>Welcome</h2>
  	<p>Colourstories are made using digital tools that extract the main colours from an image and display them proportionally. The resulting colour charts are arranged chronologically to form a unique narrative using colour. Sounds simple? It is but this novel approach is the result of years of research and hard work by Arthur. The process is currently very labour intensive - our aim is to create a web application that simplifies the process and places it in the hands of the public. We want to see what Colourstories you have to tell!.</p>
</div>
<div class="element clearfix col2-3 services">
	<%= image_tag('aboutProjectRight2.png', :class => "down") %>
</div>