<footer>
	<div class="container footer">
    	<div class="centered">
      		<ul class="social clearfix">
        		<li class="twitter"><a href="#" onClick="return false">Visit our twitter Account</a></li>
        		<li class="facebook"><a href="#" onClick="return false">Visit our facebook Account</a></li>
      		</ul>
      		<p class="small"> © 2014, Colourstory</p>
    	</div>
  	</div>
</footer>
<!-- BACK TO TOP BUTTON -->
<div id="backtotop">
	<ul>
    	<li><a id="toTop" href="#" onClick="return false">Back to Top</a></li>
  	</ul>
</div>