<header id="wrapper" class="clearfix">
	<h1 id="logo"><%= link_to '', root_path %></h1>
	<!-- start navi -->
	<div id="nav-button"><span class="nav-bar"></span><span class="nav-bar"></span><span class="nav-bar"></span></div>
	<div class="clear"></div>
	<div id="options" class="clearfix">
  		<ul id="filters" class="option-set clearfix" data-option-key="filter">
    		<li class="alignleft"><a href="#<!--filter=.home-->" class="selected">Home</a>
      			<div class="menu-line"></div>
    		</li>
    		<li class="alignleft"><a href="#<!--filter=.services-->">About the app</a>
      			<div class="menu-line"></div>
    		</li>
	        <li class="alignleft"><a href="#<!--filter=.portfolio-->">About us</a>
	          	<div class="menu-line"></div>
	        </li>
	        <li class="alignright"><a href="#filter=.contact">Contact</a>
	          	<div class="menu-line"></div>
	        </li>
	        <li class="alignright"><a href="#<!--filter=.blog-->">Blog</a>
	          	<div class="menu-line"></div>
	        </li>
	        <li class="alignright"><a href="#<!--filter=.about-->">Our Ethos</a>
	          	<div class="menu-line"></div>
	        </li>
  		</ul>
	</div>
	<!-- end nav -->
</header>
<!-- end header -->