<header id="wrapper" class="clearfix">
	<h1 id="logo"><a href="#filter=.home" class="selected"></a></h1>
	<!-- start navi -->
	<div id="nav-button"><span class="nav-bar"></span><span class="nav-bar"></span><span class="nav-bar"></span></div>
	<div class="clear"></div>
	<div id="options" class="clearfix">
  		<ul id="filters" class="option-set clearfix" data-option-key="filter">
    		<!--<li class="alignleft"><a href="#filter=.home" class="selected">Home</a>
      			<div class="menu-line"></div>
    		</li>-->
    		<% if controller.controller_name == "clientfacing" %>
				<li class="alignleft"><a href="#filter=.services">About the app</a>
      				<div class="menu-line"></div>
    			</li>
			<% else %>
				<!--<li class="alignleft"><a href="#filter=.home">Home</a>
      				<div class="menu-line"></div>
    			</li>-->
				<li class="alignleft"><a href="#filter=.services">About the project</a>
      				<div class="menu-line"></div>
    			</li>
			<% end %>
			<%# if controller.controller_name == "home" %>
	        <!--<li class="alignright"><a href="#filter=.portfolio">Our Ethos</a>
	          	<div class="menu-line"></div>
	        </li>-->
			<%# end %>
	        <li class="alignleft"><a href="#filter=.about">About us</a>
	          	<div class="menu-line"></div>
	        </li>
	        <li class="alignright"><a href="#filter=.contact">Contact</a>
	          	<div class="menu-line"></div>
	        </li>
	        <li class="alignright"><a href="#filter=.blog">Blog</a>
	          	<div class="menu-line"></div>
	        </li>
  		</ul>
	</div>
	<!-- end nav -->
</header>
<!-- end header -->